*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background: rgb(40, 41, 42);

    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator{
    background: black;
    padding:20px;
    border-radius: 10px;
}

.calculator form input{
    border:0;
    outline:0;
    width:60px;
    height:60px;
    margin:10px;
    border-radius: 10px;
    font-size: 24px;
    cursor:pointer;
    color: white;
    background: black;
    box-shadow: -8px -8px 12px rgba(238, 204, 204, 0.3),5px 5px 12px rgba(238, 204, 204, 0.3)
}

form .display{
    display:flex;
    justify-content: flex-end;
    margin: 20px 0;
}

form .display input{
    text-align: right;
    /* full width flex 1 */
    flex:1;
    font-size: 48px;
    box-shadow: none;
}

form input.equal{
    width:145px;
}